[tool.poetry]
name = "odd-collector"
version = "0.1.6"
description = "ODD Collector"
authors = ["Open Data Discovery <pypi@opendatadiscovery.org>"]
homepage = "https://github.com/opendatadiscovery/odd-collector"
repository = "https://github.com/opendatadiscovery/odd-collector"



[tool.poetry.dependencies]
python = "^3.9.1"
oddrn-generator = "^0.1.23"
clickhouse-driver = "^0.2.3"
mysql-connector-python = "^8.0.28"
hive-metastore-client="^1.0.9"
lark-parser="^0.11.1"
psycopg2 = "^2.9.3"
pymongo = {extras = ["srv"], version = "^4.0.2"}
snowflake-connector-python = "^2.4.1"
confluent-kafka = "^1.8.2"
more-itertools = "^8.13.0"
elasticsearch = "7.14.0"
pyhumps = "^3.0.2"
feast = "0.21.2"
cassandra-driver = "^3.25.0"
kfp = "^1.8.12"
tarantool = "^0.8.0"
neo4j = "^4.3.7"
tableauserverclient = "0.19.0"
pytz = "^2022.1"
odd-collector-sdk = "^0.2.4"
pyodbc = "^4.0.32"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
